
.firma {
    left: 0;
    font-size: 20px;
    margin-top: 200px;
    text-align: left;
    page-break-inside: avoid;
}

br[style] {
    display:none;
}

#titulo{
    text-align: center;
    font-size: 18px;
    font-family: "Arial";
    font-weight: bold;"
}

#logo{
    float: right;
    height : 73px;
    width : 66px;
    margin-right: 40px;
}

#tablaFor {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    font-weight: bold;
}

#tablaFor td{
    border: 1px solid #1E1E1E;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

#tablaFor th {
    border: 1px solid #1E1E1E;
    padding: 8px;
    text-align: center;
}

#tablaFor th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #1E1E1E;
    text-align: left;
    font-size: 14px;
}



/* TRANSPARENTE TABLA*/

#tablaForTranspa {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    border: hidden; !important;
    text-align: center;
}

#tablaForTranspa td{
    border: hidden;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

#tablaForTranspa th {
    border: hidden;
    padding: 8px;
    text-align: center;
}

#tablaForTranspa th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #1E1E1E;
    text-align: left;
    font-size: 14px;
}


